NODE_ENV=production
DDU_HTTPS=1
DDU_SESSION_IDLE_MINUTES=30
DDU_SESSION_ABSOLUTE_HOURS=8
DDU_TRUST_PROXY=1
DDU_INITIAL_PASSWORD=ganti-dengan-password-kuat
DDU_SUPERVISOR_NAME=Dewan Pengawas
DDU_SUPERVISOR_EMAIL=pengawasddu@gmail.com
DDU_SUPERVISOR_PASSWORD=ganti-dengan-password-pengawas-yang-kuat
DDU_LARGE_DISBURSEMENT_LIMIT=5000000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=dduapp
DB_USER=dduapp_user
DB_PASSWORD=ganti-dengan-password-database
DB_SSL=0
